<h1>JSON Library Test</h1>
<br>
<h3>active_model_serializers</h3>
<%= link_to '基本的な出力', serializers_sample1_path(format: 'json'), target: '_blank' %><br>
<%= link_to 'ベタ文字列', serializers_sample2_path(format: 'json'), target: '_blank' %><br>
<%= link_to '継承', serializers_sample3_path(format: 'json'), target: '_blank' %><br>
<br><br>
<h3>jbuilder</h3>
<%= link_to '基本的な出力', jbuilder_sample1_path(format: 'json'), target: '_blank' %><br>
<%= link_to 'ベタ文字列', jbuilder_sample2_path(format: 'json'), target: '_blank' %><br>
<%= link_to '部分テンプレート', jbuilder_sample3_path(format: 'json'), target: '_blank' %>
<br><br>
<h3>rabl</h3>
<%= link_to '基本的な出力', rabl_sample1_path(format: 'json'), target: '_blank' %><br>
<%= link_to 'ベタ文字列', rabl_sample2_path(format: 'json'), target: '_blank' %><br>
<%= link_to '部分テンプレート', rabl_sample3_path(format: 'json'), target: '_blank' %>
